<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<link th:href="@{https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css}" rel="stylesheet"
		type="text/css">
	<link rel="stylesheet" th:href="@{https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css}">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Nunito&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap}" rel="stylesheet">
	<title>print page</title>
	<!-- Vendor CSS Files -->
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet" type="text/css">

	<!-- Template Main CSS File -->
	<link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css">
	<!-- Favicons -->
	<link th:href="@{/assets/img/favicon.png}" rel="icon">
	<link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">
	<style>
		#body {

			margin: 32px;
		}
	</style>
</head>

<body id='body'>



	<section class=" ">
		<div class="container mt-5 mb-3">
			<div class="row d-flex justify-content-center">
				<div class="col-md-8">
					<div class="card">
						<div class="d-flex flex-row p-2"> <img src="https://i.imgur.com/vzlPPh3.png" width="48">
							<div class="d-flex flex-column"> <span class="font-weight-bold">bill </span>
								<small>bil no</small> </div>
						</div>
						<hr>
						<div class="table-responsive p-2">
							<table class="table table-borderless">
								<tbody>
									<tr class="add">
										<td>To</td>
									</tr>
									<tr class="content">
										<td class="font-weight-bold">Google <br>Attn: John Smith Pymont <br>Australia
										</td>
										
									</tr>
								</tbody>
							</table>
						</div>
						<hr>
						<div class="products p-2">
							<table class="table table-borderless">
								<tbody>
									<tr class="add">
										<td>Description</td>
										<td>Days</td>
										<td>Price</td>
										<td class="text-center">Total</td>
									</tr>
									<tr class="content">
										<td>Website Redesign</td>
										<td>15</td>
										<td>$1,500</td>
										<td class="text-center">$22,500</td>
									</tr>
									<tr class="content">
										<td>Logo & Identity</td>
										<td>10</td>
										<td>$1,500</td>
										<td class="text-center">$15,000</td>
									</tr>
									<tr class="content">
										<td>Marketing Collateral</td>
										<td>3</td>
										<td>$1,500</td>
										<td class="text-center">$4,500</td>
									</tr>
								</tbody>
							</table>
						</div>
						<hr>
						<div class="products p-2">
							<table class="table table-borderless">
								<tbody>
									<tr class="add">
										<td></td>
										<td>Subtotal</td>
										<td>GST(10%)</td>
										<td class="text-center">Total</td>
									</tr>
									<tr class="content">
										<td></td>
										<td>$40,000</td>
										<td>2,500</td>
										<td class="text-center">$42,500</td>
									</tr>
								</tbody>
							</table>
						</div>
						<hr>
						<div class="address p-2">
							<table class="table table-borderless">
								<tbody>
									<tr class="add">
										<td>Bank Details</td>
									</tr>
									<tr class="content">
										<td> Bank Name : ADS BANK <br> Swift Code : ADS1234Q <br> Account Holder : Jelly
											Pepper <br> Account Number : 5454542WQR <br> </td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	</main><!-- End #main -->

	<!-- Vendor JS Files -->

	<script th:src="@{/js/login.js}" type="text/javascript"></script>
	<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
	<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
	<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
	<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
	<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
	<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

	<!-- Template Main JS File -->
	<script th:src="@{/assets/js/main.js}"></script>

	<script>
		function addrow(event) {
			let count = event.path[3].children[0].rows.length;
			var table = document.getElementById("myTable");
			var addrow = table.insertRow();

			addrow.innerHTML = `<tr><td>${count}</td> <td> <select  class="form-control" id="ex1" required> <option value="">Iphone</option> <option value="">IPod</option><option value="">Galaxy Tab</option> <option value="">PocoPhone</option> </select></td><td>  <input  class="form-control" id="ex2" type="number"> </td> <td><input id="ex3" class="form-control" type="number"> </td><td><input id="ex4"  class="form-control" type="number"> </td> <td><button class="btn  form-control" id="addrow" onclick="removerow(event)" > <i class="bx bx-x"></i></button> </td> </tr>`;

		};
		function rint() {
			var body = document.getElementById("body").innerHTML;
			var data = document.getElementById("print").innerHTML;
			document.getElementById("body").innerHTML = data;
			window.print();
			document.getElementById("body").innerHTML = body;
		}
		function removerow(event) {
			let path = event.path[3];
			var table = document.getElementById("myTable");
			table.deleteRow(path.rowIndex);
		}
	</script>

	<script th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js }"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js}"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>

	<script th:href="@{https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js}"></script>

	<script
		th:href="@{https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/mobile/bootstrap-table-mobile.min.js}"></script>


</body>

</html>