<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Store</title>
	 <!-- Vendor CSS Files -->
	<meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"type="text/css">
  <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet"type="text/css">
  <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet"type="text/css">
  <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet"type="text/css">
  <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet"type="text/css">
  <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet"type="text/css">
  <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet"type="text/css">

  <!-- Template Main CSS File -->
  <link th:href="@{/assets/css/style.css}" rel="stylesheet"type="text/css">
<!-- Favicons -->
  <link th:href="@{/assets/img/favicon.png}" rel="icon">
  <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

</head>
<body>
	
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a th:href="@{/dashboard}" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt=""/>
        <span class="d-none d-lg-block">Admin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword"/>
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

       
        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center mx-4 pe-0"  >
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block  ps-2" th:text="${username}"></span>
          </a><!-- End Profile Iamge Icon -->

        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

	  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

 <ul class="sidebar-nav" id="sidebar-nav">

			<li class="nav-item">
				<a class="nav-link " th:href="@{/dashboard}">
					<i class="bi bi-grid"></i>
					<span>Dashboard</span>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" href="#" >
					<i class="bx bxs-basket"></i>
					<span>Purchase Reports</span>
				</a>
				<ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a class="" th:href="@{/pbill}">
							<i class="bi bi-circle"></i><span>Bill</span>
						</a>
					</li>
					<li>
						<a href="">
							<i class="bi bi-circle"></i><span>Purchase orders</span>
						</a>
					</li>
					<li>
						<a th:href="@{/vendor}">
							<i class="bi bi-circle"></i><span>Vendors</span>
						</a>
					</li>
					<li>
						<a href="">
							<i class="bi bi-circle"></i><span>Expenses</span>
						</a>
					</li>
				</ul>
			</li>

			<li class="nav-item">
				<a class="nav-link " th:href="@{/Store}">
					<i class="bi bi-menu-button-wide"></i>
					<span>Store</span>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link " th:href="@{/sale}">
					<i class="bi bi-file-earmark"></i>
					<span>Bill</span>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link " th:href="@{/billhistory}">
					<i class="bi bi-book"></i>
					<span>Bill History</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link " th:href="@{/workers}">
					<i class="bi bi-file-earmark-person"></i>
					<span>Workers</span>
				</a>
			</li>

			<li class="nav-item" style="position: fixed;bottom: 0;">
				<a class="nav-link " th:href="@{/}">
					<i class="bi bi-box-arrow-right"></i>
					<span>Sign Out</span>
				</a>
			</li>
		</ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
            <li class="breadcrumb-item active">Store</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Store</h5>
              
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">P.No</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Category</th>
                    <th scope="col">Quntity</th>
                    <th scope="col">Product Expiry </th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="store:${Store}">
                    <th scope="row" th:text="${store.getId()}"></th>
                     <th scope="row" th:text="${store.getVendorName()}"></th>
                      
                  </tr>
                  
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>
    
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Billing App</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://Webrixtec.com/">Webrixtec</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
  <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>
</body>
</html>