<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Workers</title>
	 <!-- Vendor CSS Files -->
	<meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"type="text/css">
  <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet"type="text/css">
  <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet"type="text/css">
  <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet"type="text/css">
  <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet"type="text/css">
  <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet"type="text/css">
  <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet"type="text/css">

  <!-- Template Main CSS File -->
  <link th:href="@{/assets/css/style.css}" rel="stylesheet"type="text/css">
<!-- Favicons -->
  <link th:href="@{/assets/img/favicon.png}" rel="icon">
  <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

</head>
<body>
	
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a th:href="@{/dashboard}" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt=""/>
        <span class="d-none d-lg-block">Admin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

       
        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center mx-4 pe-0" >
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block  ps-2" th:text="${username}"></span>
          </a><!-- End Profile Iamge Icon -->

        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

	  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " th:href="@{/dashboard}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link " th:href="@{/purchase}">
          <i class="bx bxs-basket"></i>
          <span>Purchase</span>
        </a>
      </li>
      
     <li class="nav-item">
        <a class="nav-link " th:href="@{/Store}">
          <i class="bi bi-menu-button-wide"></i>
          <span>Store</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link " th:href="@{/sale}">
          <i class="bi bi-file-earmark"></i>
          <span>Bill</span>
        </a>
      </li>
      
       <li class="nav-item">
        <a class="nav-link " th:href="@{/billhistory}">
          <i class="bi bi-book"></i>
          <span>Bill History</span>
        </a>
      </li>
      
       <li class="nav-item">
        <a class="nav-link " th:href="@{/workers}">
          <i class="bi bi-file-earmark-person"></i>
          <span>Workers</span>
        </a>
      </li>
      
      <li class="nav-item" style="position: fixed;bottom: 0;">
           <a class="nav-link " th:href="@{/index}">
             <i class="bi bi-box-arrow-right"></i>
             <span>Sign Out</span>
          </a>
	  </li>
    </ul>
     
  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
        <h1>Workers</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
            <li class="breadcrumb-item active">Workers</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

    <section class="section">
      <div class="row ">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
            <div class=" row mx-2">
              <h5 class="card-title">Datatables</h5>
              
              <!-- Vertically centered Modal -->
              <button type="button" class="btn btn-outline-success btn-sm offset-11 col-1 "style="" data-bs-toggle="modal" data-bs-target="#verticalycentered">
               add Worker
              </button>
            </div>

              <div class="modal fade" id="verticalycentered" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Vertically Centered</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    
                    	<form class="row g-3 needs-validation" novalidate th:action="@{/signup}" th:object="${User}" method="POST">
                    <div class="col-6">
                      <label for="userName" class="form-label">Woker Name</label>
                      <input type="*{userName}" th:field="userName" name="userName"  class="form-control" id="userName" required>
                      <div class="invalid-feedback">Please, enter Woker Name!</div>
                    </div>

                    <div class="col-6">
                    <label for="Wokerphone" class="form-label">Woker phone</label>
                      <div class="input-group has-validation">
                        <input type="*{phone}" th:field="phone" name="phone" class="form-control" id="phone" required>
                        <div class="invalid-feedback">Please, enter Woker phone.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourEmail" class="form-label">Your Email</label>
                      <input type="*{email}" th:field="email" name="email" class="form-control" id="yourEmail" required>
                      <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="*{password}" th:field="password" name="password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    
                  </form>
                      </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div><!-- End Vertically centered Modal-->
              

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr> 
                  	<th scope="col">WorkerId</th>
                    <th scope="col">Worker Name</th>
                    <th scope="col">Worker Phone</th>
                    <th scope="col">Worker Email</th>
                    <th scope="col"> Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="worker:${workers}">
                    <th scope="row" th:text="${worker.getId()}"></th>
                     <th scope="row" th:text="${worker.getUserName()}"></th>
                      <th scope="row" th:text="${worker.getPhone()}"></th>
                       <th scope="row" th:text="${worker.getEmail()}"></th>
                        <th scope="row" th:text="${worker.getDate()}"></th>
                  </tr>
                  
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>
    
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Billing App</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://Webrixtec.com/">Webrixtec</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
  <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>
</body>
</html>